@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600;700;800&family=Public+Sans:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");

:root {
  --primary-color: hsl(0, 0%, 93%);
  --primary-color-darken: hsl(0, 0%, 70%);
  --secondary-color: hsl(145, 100%, 25%);
  --main-header-stick-color: rgb(0, 0, 0);
  --logo-first-letter: red;
  --font-color-primary: rgb(75, 75, 75);
  --font-color-secondary: white;
  --border-color-primary: white;
  --border-color-secondary: rgb(75, 75, 75);
  --spacer-color: rgb(75, 75, 75);
  --transparency: rgba(0, 0, 0, 0);
  --muted-color: hsl(0, 0%, 40%);
  --product-border-color: hsl(0, 0%, 85%);
}
.dark-orange {
  --primary-color: hsl(31, 100%, 30%);
  --primary-color-darken: hsl(31, 100%, 20%);
  --secondary-color: hsl(0, 0%, 10%);
  --main-header-stick-color: hsl(0, 0%, 12%);
  --logo-first-letter: red;
  --font-color-primary: hsl(0, 0%, 18%);
  --font-color-secondary: hsl(0, 0%, 80%);
  --border-color-primary: hsl(0, 0%, 20%);
  --border-color-secondary: hsl(31, 100%, 20%);
  --spacer-color: hsl(0, 0%, 10%);
  --transparency: rgba(0, 0, 0, 0);
  --muted-color: hsl(0, 0%, 60%);
  --product-border-color: hsl(31, 100%, 20%);
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Public Sans", sans-serif;
}
#root-app {
  max-width: 1920px;
  box-sizing: border-box;
  margin: auto;
}
.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.671);
  backdrop-filter: blur(5px);
  z-index: 1001;
}
.close-modal-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin-left: auto;
}
.close-modal-btn:hover {
  color: green;
}

.main-header {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1000;
  min-height: 80px;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "JetBrains Mono", monospace;
}
.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin-inline: auto;
  width: 100%;
  padding: 5px 10px;
  transition: 0.3s;
}
.main-header__content > h1::first-letter {
  color: var(--logo-first-letter) !important;
}
.main-header__stick-top {
  background-color: var(--main-header-stick-color);
  color: var(--font-color-secondary);
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
}

.btn-style-shop {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  word-spacing: -3px;
  padding: 5px 10px;
  color: var(--font-color-primary);
  font-family: "JetBrains Mono", monospace;
  transition: 0.3s;
}
.btn-style-shop:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color-secondary);
  border-color: var(--border-color-secondary);
}
.btn-style-basket {
  background-color: var(--primary-color);
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--font-color-primary);
  font-family: "JetBrains Mono", monospace;
  border: 2px solid var(--border-color-primary);
  transition: 0.3s;
}
.btn-style-basket:hover {
  cursor: pointer;
  background-color: var(--font-color-primary);
  color: var(--font-color-secondary);
  border-color: var(--border-color-secondary);
}

#alert {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: auto;
  min-width: 100px;
  padding: 10px;
  background-color: greenyellow;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#basket {
  background-color: var(--primary-color);
  border: 2px solid var(--border-color-secondary);
  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
  z-index: 2;
}
.basket-main {
  display: flex;
  width: 100%;
  overflow-y: auto;
  max-height: 450px;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2;
}
.basket-products {
  display: none;
  transition: 1s;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 0;
  gap: 5px;
}
.basket-animation-show-products {
  display: flex;
  height: 0;
  animation-name: showProducts;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.basket-animation-hide-products {
  display: flex;
  animation-name: hideProducts;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.basket-show-products {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  z-index: -2;
  height: 450px;
}
.basket-hide-products {
  display: none;
  height: 0;
}
@keyframes showProducts {
  0% {
    height: 0;
  }
  100% {
    height: 450px;
  }
}
@keyframes hideProducts {
  0% {
    height: 450px;
  }
  100% {
    height: 0px;
  }
}

.show {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--border-color-primary) !important;
  animation: rotateBtn 0.1s 1 forwards linear;
  color: var(--font-color-secondary);
}
.show:hover {
  cursor: pointer;
  color: var(--font-color-primary);
}
.hide {
  animation: rotateBtnReverse 0.1s 1 forwards linear;
  color: black;
}
.hide:hover {
  background-color: var(--secondary-color);
  color: var(--font-color-secondary);
  cursor: pointer;
  transition: 0.2s;
}

@keyframes rotateBtn {
  100% {
    rotate: 180deg;
    background-color: var(--secondary-color) !important;
  }
}
@keyframes rotateBtnReverse {
  0% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

.basket-empty {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.basket-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: var(--primary-color);
}
.basket-spacer {
  display: flex;
  margin: 0 5px;
  height: 5px;
  width: 90%;
  background-color: var(--spacer-color);
}
.btn-style-basket-change {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  font-size: 30px;
  border: 2px solid var(--border-color-secondary);
  background-color: var(--transparency);
  font-family: "Courier New", Courier, monospace;
  transition: 0.3;
}
.basket-product-btn__container .basket-products {
  display: none;
  gap: 2%;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.basket-product-item {
  padding: 5px;
  margin-inline: 1%;
  display: flex;
  align-items: center;
  gap: 2%;
  background-color: var(--secondary-color);
  border: 3px solid var(--border-color-secondary);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--font-color-secondary);
  flex-wrap: wrap;
  width: clamp(200px, 90vw, 100%);
  box-sizing: border-box;
}
.basket-product-item__title {
  margin: 0;
  font-weight: bold;
}
.basket-product-item__price {
  margin: 0;
}
.basket-product-item__quantity {
  margin: 0;
}
.basket-product-btn__container {
  display: flex;
  gap: 2%;
  margin: 1em;
  margin-left: auto;
}
.basket-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

#shop {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-sizing: border-box;
  padding: 10px 0;
  min-height: max-content;
}

.products {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
  list-style: none;
  margin: 20px 0;
  box-sizing: border-box;
  padding: 0 10px;
  flex-wrap: wrap;
}
.product-item {
  display: flex;
  width: clamp(200px, 80vw, 300px);
  height: 400px;
  padding: 10px 5px;
  box-sizing: border-box;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 3px solid var(--product-border-color);
}

.product-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.product-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item-header__title {
  display: flex;
  width: 80%;
  color: var(--font-color-primary);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 3px 0;
  text-align: center;
}
.product-item-images {
  display: flex;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.product-item-images__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.product-item__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: max-content;
  text-align: center;
}

.pagination {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  box-sizing: border-box;
}
.pagination-items {
  display: flex;
  gap: 1px;
  border: 3px solid var(--border-color-secondary);
}
.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 10px;
  border: 1px solid var(--font-color-primary);
  background-color: var(--primary-color);
  transition: 0.2s;
}
.pagination-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 10px;
  border: 1px solid var(--font-color-primary);
  background-color: var(--primary-color);
  transition: 0.2s;
}
.pagination-item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.pagination-item__btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.first-footer {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: var(--primary-color);
}
.first-footer > h6 {
  color: var(--muted-color);
}
